body {
  background-color: rgb(249, 253, 255);
  max-width: 900px;
  margin: 0 auto;
}

.App h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.App-header {
  margin: 30px 0;
  text-align: center;
}
.App footer {
  font-size: 12px;
  margin: 20px 0;
}
