.App {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.App h1 {
  font-weight: 700;
}
.App-header {
  margin: 30px 0;
  text-align: center;
}
.App footer {
  font-size: 12px;
  margin: 20px 0;
}
